@charset "utf-8";
/* CSS Document */




table td
{
	border:1px solid black;
	vertical-align:middle;
	border-style: double;
	font-size: 18px;
	font-weight:bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	outline-color:#500;
	background-color:#FFBF55;
	
	
}